* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#titlePanel {
  background-color: lightgray;
  width: 100%;
  padding: 10px;
  display: grid;
}

#titlePanel h1 {
  grid-column: 1/2;
}

#titlePanel p {
  grid-column: 1/2;
}

#open_projector_btn {
  grid-row: 1/3;
  grid-column: 2/3;
}

h1 {
  margin-bottom: 10px;
}

#workspace {
  display: flex;
  height: calc(100% - 60px);
}

#listPanel,
#controlPanel {
  height: 100%;
}

#listPanel {
  width: 200px;
  overflow-y: scroll;
  border-right: 1px solid gray;
}

#controlPanel {
  flex-grow: 1;
  position: relative;
}

.list-item {
  padding: 10px;
  cursor: pointer;
}

.list-item:hover {
  background-color: lightgray;
}

.list-item-selected {
  background-color: rgb(97, 100, 242);
}

.list-item-selected:hover {
  background-color: rgb(65, 67, 191);
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
}

form {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 16px;
  padding: 16px;
}

label {
  grid-column: 1 / 2;
}

input {
  grid-column: 2 / 3;
}

input[type="checkbox"] {
  /* left aligns the checkboxes inside of the grid */
  justify-self: start;
}